.section{
    width: 100%;
    height: 100vh;
}

.section-content {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

.section-content img {
    width: 100%;
    height: 700px;
    object-fit: cover; 
    object-position: center; 
    filter: brightness(50%);
}

